*{
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #aecf34; /* Change this to your desired color */
    height: 60px;
    margin-top: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    padding-left: 2px;
    color: rgb(219, 41, 41); /* Change this to contrast with your background color */
}


/* aside {
    float: right;
    width: 25%;
} */

.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    /* justify-content: space-between; */
}

/* Style for the main body */
.content {
    margin-left: 1%; /* Adjust as needed */
    margin-right: 20%;
    padding: 1em;
    background-color: #f1f1f1; /* Adjust as needed */
    width: 95%;
    /* display: flex; */
}

/* Style for the sidebar */
aside {
    /* float: right; */
    width: 15%; /* Adjust as needed */
    margin-left: 5%;
    
    /* Full-height: remove this if you want "auto" height */
    /* height: 100%;  */
    height: auto;
    padding: 1em;
    background-color: #ccc; /* Adjust as needed */
    position: fixed;
    
}


/* Media query for screens smaller than 600px */
/* @media (max-width: 600px) {
    aside {
        font-size: 0.8em; // Adjust as needed 
    }
} 
*/


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px 0;
}
